// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css?family=Roboto');
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
    background-color:#1e1e1e;
  }
.content-md {
    color: #fff;
    background-color: #333333;
}

.toolbar-title-md {
    color: #ffffff;
}

.bar-button-default-md{
    color: #ffffff;
}